<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/map/map1/baiduMap.css" type="text/css"></link>

</head>
<body onload="init()">
    <div id="toolbar">
        <button id="drawPoint" onclick="drawPoint()">点绘制</button>
        <button id="drawLine" onclick="drawLine()">线绘制</button>
        <button id="modifyControl" onclick="startModify()">编辑模式</button>
        <button id="cancelDrawOrModify" onclick="cancelControl()">选择模式</button>
    </div>
    <div id="map">
    </div>

    <script src="/javascripts/map/map1/baiduMap/libs/BMap.js"></script>
    <script src="/javascripts/map/map1/baiduMap/libs/SuperMap.Include.js"></script>
    <script src="/javascripts/map/map1/baiduMap/libs/jquery.min.js"></script>
    <script src="/javascripts/map/map1/baiduMap/libs/jquery.hotkeys.js"></script>
    <script src="/javascripts/map/map1/baiduMap/app.js"></script>

</body>
</html>