<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/map/map3/smbddtwp.css' />
</head>
<body onload="init()">
<div id="toolbar">
    <button id="drawPoint" onclick="pointControlActive()">点绘制</button>
    <button id="drawLine" onclick="pathControlActive()">线绘制</button>
    <!--<button id="modifyControl" onclick="startModify()">编辑模式</button>-->
    <!--<button id="cancelDrawOrModify" onclick="cancelControl()">选择模式</button>-->
    <span> 此页面地图服务是由"<%=url%>"提供</span>
</div>
<div id = "map"></div>


<script src = '/javascripts/map/map3/baiduMap/libs/SuperMap.Include.js'></script>
<script src = '/javascripts/map/map3/baiduMap/libs/jquery.min.js'></script>
<script src = '/javascripts/map/map3/baiduMap/libs/Baidu.js'></script>
<script src = '/javascripts/map/map3/baiduMap/libs/BMap.js'></script>
<script>
	/**
	 * 将经纬度转换为百度地图墨卡托坐标系
	 * @param Lonlat(Object{lon:;lat:})
	 * @return position(Object{x:;y:;})
	 */
	function lonLatToPosition(Lonlat) {
		var projection = new BMap.MercatorProjection();
		return projection.lngLatToPoint(new BMap.Point(Lonlat.lon, Lonlat.lat));
	}
	/**
	 * 将百度地图墨卡托坐标系转换为经纬度
	 * @param position(object{x:;y:})
	 * @return lonlat(object{lng:;lat:})注意百度返回的是lng和lat
	 */
	function positionToLonLat(position) {
		var projection = new BMap.MercatorProjection();
		return projection.pointToLngLat(new BMap.Pixel(position.x,position.y))
	}


	//创建地图
	var map;
	//创建百度图层
	var baiduLayer;
	//创建覆盖物图层
	var vector;


	function init(){
		map = new SuperMap.Map("map",{
			controls:[
				new SuperMap.Control.Navigation() ,
				new SuperMap.Control.Zoom(),
				new SuperMap.Control.LayerSwitcher()
//                        new SuperMap.Control.MousePosition()
			],
			maxZoom:14,
			minZoom:6
		});


		baiduLayer = new SuperMap.Layer.Baidu({
			url:"<%=url%>"
		});
		vector = new SuperMap.Layer.Vector("vector");
		map.addLayers([baiduLayer,vector]);
		var yuxiCenterLonLat= {lon:102.54,lat:24.35};
		var baiduYuxiPosition = lonLatToPosition(yuxiCenterLonLat);
		map.setCenter(new SuperMap.LonLat(baiduYuxiPosition.x, baiduYuxiPosition.y), 11);

		initMousePosition();
		initDrawControls();
	}
	/**
	 * 显示鼠标所在经纬度坐标
	 */
	function initMousePosition() {
		$("#map > div").append("<div id='mousePositionDiv' style='height: 30px;position:absolute;right:30px;bottom:0px;z-index:1255'></div>");
		map.events.on({"mousemove":function (e) {
			var position = map.getLonLatFromPixel(e.xy);
			var lonlat = positionToLonLat({x:position.lon,y:position.lat});
			$("#mousePositionDiv")[0].innerText="当前坐标:"+lonlat.lng+","+lonlat.lat;
		}});
	}


	//!---------作图控件开始--------------------------------------------!
	var drawPointControl;
	var drawPathControl;
	function initDrawControls() {
		drawPointControl = new SuperMap.Control.DrawFeature(vector,SuperMap.Handler.Point,{multi:true});

		drawPathControl = new SuperMap.Control.DrawFeature(vector,SuperMap.Handler.Path,{multi:true});
		var snap = new SuperMap.Snap([vector],10,10,{actived:true});
		drawPathControl.snap = snap;



		deactiveAll();
		map.addControls([drawPointControl,drawPathControl]);
	}
	//取消激活所有控件
	function deactiveAll() {
		drawPointControl.deactivate();
		drawPathControl.deactivate();
	}

	function pointControlActive() {
		deactiveAll();
		drawPointControl.activate();
	}

	function pathControlActive() {
		deactiveAll();
		drawPathControl.activate();

	}




	//!---------作图控件结束--------------------------------------------!



</script>
</body>
</html>
